# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store


# opencode
AGENTS.md
.agents
/.agents
skills-lock.json

certificates
.opencode
.superpowers
CLAUDE.md

.claude
/.claude